body {
    font-size:16px;
}
a, a:hover {
    text-decoration: none;
}
.mm-menu,.mm-menu .mm-navbar a, .mm-menu .mm-navbar>*  {
    background: #2d2d2d;
    color:#00c0ff;
}
.mm-menu .mm-search input {
    background: #4e4e4e;
}
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu .mm-listview>li.mm-selected>span {
    background: #000;
}
.mm-menu .mm-btn:after, .mm-menu .mm-btn:before {
    border-color: rgb(119, 119, 119);
}
.mm-listview>li {
    border-bottom: 1px solid #262626;
    border-top: 1px solid #383838;
}
.mm-menu .mm-listview>li.mm-selected {
    border-bottom-color: #000;
    border-top-color: #000;
}
product-item {
    display: block;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: calc(8% + 40px);
    text-align: center;
}
product-item > div > label {
    color:#c4c4c4;
    font-weight: normal;
}
product-item > div {
    color:#2d2d2d;
}

product-item > div::first-of-type {
    margin-top:50px;
}

product-item > product-total-price > div{
    background-color: #2d2d2d;
    color:#ffffff;
    margin-left: -10%;
    margin-right: -10%;
    margin-top:8%;
    font-size:18px;
    padding:10px;
}
product-icon {
    position: absolute;
    top: -46px;
    left: 50%;
    margin-left: -46px;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    box-shadow: 0px 3px 0px #40d0ff;
}

product-list > div[class^="col-"] {
    margin-bottom:62px;
}
.create-btn {
    background-color: #fbfbfb;
    padding:15px;
    color:#00c0ff;
    margin-bottom: 62px;
    border:1px solid #ece9e9;
}
.create-btn:hover {
    border-color: #00c0ff;
    color:#00c0ff;
}

create-product {
    display: block;
}

.mm-page {position: static;}
div[class^="col-"] {
    margin-bottom: 16px;
}
.btn {
    background-color: #2d2d2d;
    color: #00c0ff;
    border-radius:0;
    padding:10px 25px;
}

.btn.cancel {   
    border: 1px solid #e8e8e8;
    background-color: #f1f0f0;
    color: #808080;
}
.btn:hover {
    color:#ffffff;
}
.btn.cancel:hover {
    color:#828181;
}