<product-icon [product]='product'></product-icon>
<div>
    <label>Name: </label>{{ product.name.name }}
</div>
<div>
    <label>Brand: </label>{{ product.brand.name }}
</div>
<div>
    <label>Price per Item : </label>{{ product.singlePrice.toFixed(2) }}
</div>
<div>
    <label>Quantity: </label>{{ product.quantity }}
</div>
<div>
    <label>ProductType: </label>{{ product.productType.name }}
</div>
<div>
    <label>Date: </label>{{ product.date }}
</div>
<product-total-price [product]='product'></product-total-price>